<div calss='lobby-wrap'>
	<div id="header-lobby   ">

		<!-- Inner -->
		<div class="wrapper-lobby">
			<header>
				<h1 id='logo-wrap'> <img src="images/logo.png"></h1>
					<profile-base-snippet></profile-base-snippet>
				<hr />
			</header>
		</div>
		<div class="lobby">
			<div class="publ">
				<div class='team tooltip' ng-repeat="team in teamlist | orderBy:'attr.created':true | limitTo: teamoffset - teamlist.length | limitTo: 6 " ng-title="team.attr.description">
					<div class='jointeam'>Join!</div>
					<span class='name' ng-bind="team.attr.name">My Team</span>
					<span class='disription' ng-bind="team.attr.description">4pm game lang: Enlish</span> 

				</div>
<!--				<div class='team tooltip'>
					<div class='jointeam full'>Full</div>
					<span class='name'>My Team</span>
					<span class='disription'>4pm game lang: Enlish</span> 
				</div>
				<div class='team'>
					<span class='name'>My Team</span>
					<span class='disription'>4pm game lang: Enlish</span> 
				</div>
				<div class='team'>
					<span class='name'>My Team</span>
					<span class='disription'>4pm game lang: Enlish</span> 
				</div>
				<div class='team'>
					<span class='name'>My Team</span>
					<span class='disription'>4pm game lang: Enlish</span> 
				</div>
				<div class='team'>
					<span class='name'>My Team</span>
					<span class='disription'>4pm game lang: Enlish</span> 
				</div>-->
			</div>
			<div class='own'>
				<input type='text' class="team name" placeholder="enter team name" ng-model="newteam.name">
				<textarea rows="9" cols="50" placeholder=" Some discription" ng-model="newteam.description">

				</textarea>
				<a class="findteam" ng-click="createTeam()">Create team for game.</a>
			</div>


		</div>





	</div>
</div>

<script>

</script>

